.footer{
    background-color: $color-bg-footer;
    color: $color-txt-white;
    padding-top: $padding;

    &__list{   
        padding: $padding;
    }
    &__logo{
        padding-left: $padding;
    }
    &__link{
        color: $color-txt-white;
        line-height: 1.7;
    }
    
}