.operation{
    padding:2*$padding $padding;
    &__steps{
        display: flex;
        flex-wrap: wrap;
        padding:$padding 0;
        counter-reset: compteur;
    }
    &__step{
        width: 100%;
        padding:1.5*$padding 0;
        background: $color-bg-light;
        margin-bottom: 1rem;
        border-radius: 1.5rem;
        box-shadow: $shadow-step;
        font-weight: 401;
        counter-increment: compteur;
        &::before{
            // margin-right: 1rem;
            margin-left: -0.625rem;
            content: " " counter(compteur) ;
            background: $color-primary;
            color:$color-txt-white;
            padding: 0.25rem 0.5rem;
            border-radius: 100%;
            font-weight: 200;
            font-size: 0.8rem;
          }
        .fas{
            color: $color-icon-step;
            padding:0 0.8*$padding;
        }
        &:hover{
         background-color: $color-hover-step;
         .fas{
            color: $color-primary;
         }
        }
    }
}