*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.container{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:gainsboro ;
}
.loader{
    height:70px;
    width: 70px;
    position: absolute;
    left: -35px;
    animation: rotate 3.2s linear infinite;
}

@keyframes rotate{

    30%{
        transform: rotate(220deg);
    }
    40%{
        transform: rotate(450deg);
    }
    75%{
        transform: rotate(720deg);
        opacity: 1;
    }
    76%{
        opacity:0;
    }
    100%{
        transform: rotate(0deg);
        opacity: 0;
    }
}

.loader:nth-child(1){
    animation-delay: 0.15s;
}
.loader:nth-child(2){
    animation-delay: 0.30s;
}
.loader:nth-child(3){
    animation-delay: 0.45s;
}
.loader:nth-child(4){
    animation-delay: 0.60s;
}
.loader:nth-child(5){
    animation-delay: 0.75s;
}
.loader:nth-child(6){
    animation-delay: 0.90s;
}

.wrapper{
    position: absolute;
}
.cercle{
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    top: 25px;
}
.cercle-1{
    background-color: #9256dc;
}
.cercle-2{
    background-color: #ff7ad9;
}
.cercle-3{
    background-color: #99E2D0;
}
.cercle-4{
    background-color: #9256dc;
}
.cercle-5{
    background-color: #ff7ad9;
}
.cercle-6{
    background-color: #99E2D0;
}