.loader-section{
    width: 100vw;
    height: 100vh;
    position:fixed;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:rgb(255, 255, 255,0.9);
    animation: opacity 0.1s 3.2s both;
  
    &__wrapper{
        position: absolute;
    }
    &__loader{
        height:100px;
        width: 100px;
        position: absolute;
        left: -50px;
        animation: rotate 3.2s linear infinite;
        @for $i from 1 through 6{
            &:nth-child(#{$i}) {
                animation-delay:$i*0.15s;
            }
        }

    }
    &__cercle{
        position: absolute;
        width: 12px;
        height: 12px;
        border-radius: 50%;
        top: 25px;
        &--1{
            background-color: #9256dc;
        }
        &--2{
            background-color: #ff7ad9;
        }
        &--3{
            background-color: #99E2D0;
        }
        &--4{
            background-color: #9256dc;
        }
        &--5{
            background-color: #ff7ad9;
        }
        &--6{
            background-color: #99E2D0;
        }
    }
}
@keyframes rotate{

    30%{
        transform: rotate(220deg);
    }
    40%{
        transform: rotate(450deg);
    }
    75%{
        transform: rotate(720deg);
        opacity: 1;
    }
    76%{
        opacity:0;
    }
    100%{
        transform: rotate(0deg);
        opacity: 0;
    }
    
}

@keyframes opacity{
       
    100%{
        opacity: 0;
        z-index: -1;
    }
}