// Boutons

@mixin btn {
    font-size: 1rem;
    color: $color-txt-white;
    padding: 0.8*$padding;
    border-radius: 2rem;
    border: none;
    background: $color-gradient;
    box-shadow: $shadow-btn;
    opacity:1;
    transition: opacity, 200ms,linear;
    &:hover{
        box-shadow: $shadow-btn-hover;
        opacity:0.85;
    }
}

// heart

@mixin heart {
    
    justify-self: end;
    font-size:1.8rem;
    // transition:all 400ms ease-in-out ;
    // &:hover{
    //     font-weight: 600;
    //     color:transparent;
    //     background: $color-gradient;
    //     background-clip: text;
    // }
    
}

// Breakpoints media querys

@mixin tablet{
@media screen and (min-width: map-get($breakpoints, tablet))
{
    @content;
}
    
}
@mixin mobile-L{
    @media screen and (min-width: map-get($breakpoints, mobile-L))
    {
        @content;
    }
        
    }

@mixin desktop{
@media screen and (min-width: map-get($breakpoints, desktop))
{
    @content;
}
    
}
