// Colors

$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
$color-bg-footer: #353535;
$color-txt-white: white;
$color-bg: #f2f2f2f1;
$color-bg-light:#f2f2f263;
$color-bg-card:white;
$color-description: #8a8a8a;
$color-hover-step:#f5edff;
$color-icon-step:#787575;

// padding 
$padding: 1.25rem;